@CHARSET "UTF-8";

@import url( "http://fonts.googleapis.com/earlyaccess/notosanskr.css" );

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
	code, form, fieldset, legend, input, textarea, p, blockquote, th, td,
	img {
	margin: 0 auto;
	padding: 0;
	font-family: 'Noto Sans KR' ,sans-serif;
    font-size: 12px;
    color: #000;
}

body {
    min-width: 1200px;
}

.content_wrap {
	width: 100%;
	height: 100%;
}

.admin_contents_wrap  {
    padding-top: 124px;
}

.admin_contents {
    width: 1280px;
    margin: 0 auto;
}

/*타이틀*/
.admin_order_titleArea h2 {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
}

/*검색 필드*/

#admin_order_search{
	 text-align:left;
	 width: 100%;	 
	 border: 1px solid #ccc;
	 padding: 20px 0px 20px 0px;
}

#admin_order_search div{
	display: inline-block;
}

#adminSearchhow{
	padding-left: 30px;
	padding-right: 10px;
}


.selectOption{
	position: relative;
    width: 80px;
    height: 30px;
    border: 1px solid #E9DDDD;
    font-size: 13px;
}

.searchInput{
	position: relative;
    width: 200px;
    height: 27px;
    border: 1px solid #E9DDDD;
    font-size: 13px;
}

.searchDateInput{
	position: relative;
    width: 150px;
    height: 30px;
    border: 1px solid #E9DDDD;
    font-size: 13px;
}

.datebtn{
	padding: 7px 7px 7px 7px;
    background: #a2a2a2;
    border: 1px solid #a2a2a2;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    background: #a2a2a2;
    border: 1px solid #a2a2a2;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
}

#admin_order_detail{
	padding-top: 5px;
	padding-left: 30px;
	text-align:left;
}
#totalPrice{
	font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: right;
    padding: 20px 300px 20px 0px;
}

table {
	width: 100%;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	text-align:center;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Float the list items side by side */
ul.tab li {float: left;}

/*탭 버튼 */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/*탭 배경 */
ul.tab li a:hover {
    background-color: #ddd;
}

/*현재 탭*/
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/*탭내용*/
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#back h3{
	text-align: left;
	font-size: 20px;
	padding-bottom: 50px;
	padding-left: 100px;
	
}

.tabcontent #modifyBtn {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    padding-top:40px;
    padding-bottom: 40px;
}

.admin_btn_min {
	padding: 7px 5px 7px 5px;
    background: #000;
    border: 1px solid #000;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    background: #000;
    border: 1px solid #000;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
}

.admin_btn {
	padding: 10px 12px 12px 10px;
    background: #000;
    border: 1px solid #000;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    background: #000;
    border: 1px solid #000;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
#usersTop{
	text-align: right;
	padding-right: 30px;
	padding-bottom: 10px;
}

#usersTop div{
	display: inline-block;	
}

ul.orderby li{
	display: inline;
	font-size: 13px;
}

#admin_page_list{
	text-align: center;
	padding-top: 20px;
	font-size: 15px;
	
}
ul.pages li{
	display: inline;
}

#selectNum{
	height: 30px;
}

#selectNumdDiv{
	padding-left: 20px;
}

.footer{
	padding-top:70px;
}

#orderList thead{
	background-color: #ccc;
}








