

/* sunny_top */
#main>#sunny_top>li {
    list-style: none;
}
/* //sunny_top */


/* sunny_wrap */
body, code {
    font-family: 돋움,'Doutm',sans-serif;
    font-size: 11px;
    color: #000;
}

div {
    display: block;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, code, form, fieldset, legend, input, textarea, p, blockquote, 
th, td, img {
    margin: 0;
    padding: 0;
}

#sunny_wrap {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* //sunny_wrap */



/* sunny_header */
/* //sunny_header */



/* sunny_contents */
#detail_contents {
    padding-top: 124px;
}
/* //sunny_contents */

/* sunny_in */
#detail_in {
    width: 1250px;
    margin: 0 auto;
}
.xans-product-detail {
    position: relative;
    margin: 0 auto;
    padding: 0px 40px 0 40px;
}
script {
    display: none;
}
.xans-product-detail .detailArea {
    padding: 0 0 0 640px;
}
.xans-product-detail .imgArea {
    float: left;
    width: 640px;
    margin: 0 0 0 -680px;
}
.xans-product-detail .imgArea .keyImg {
    width: 640px;
    margin: 0 auto;
}
img, fieldset {
    border: none;
    vertical-align: top;
}
.xans-product-detail .imgArea .keyImg img {
    max-width: 640px;
    border: 1px solid #f1f1f1;
}

.xans-product-detail .infoArea {
    width: 540px;
/*     height: 430px; */
    height: auto;
    /* border: 1px solid #f1f1f1; */
    margin-left: -40px;
    padding: 40px 30px 0 40px;
}

/* 회원등급별 혜택보기 */
.xans-product-detail .infoArea h3 span {
    font-weight: normal;
    font-size: 12px;
}
#cssmenu1 {
    float: right;
    position: absolute;
    top: 40px;
    right: 130px;
    background: none;
    width: auto;
    font-size: 11px;
    z-index: 99;
}
#cssmenu1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1;
}
#cssmenu1 > ul {
    position: relative;
    display: block;
    width: 100%;
    z-index: 500;
}
li {
    list-style: none;
}
#cssmenu1 > ul > li {
    display: block;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
Style Attribute {
    padding: 3px 10px 3px 10px;
    float: right;
    font-size: 11px;
}
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
a {
    text-decoration: none;
    color: #000;
}
#cssmenu1 ul li a {
    display: block;
    text-decoration: none;
}
#cssmenu1 > ul > li.has-sub > a {
    padding-right: 0px;
}
img, fieldset {
    border: none;
    vertical-align: top;
}
#cssmenu1 ul ul {
    position: absolute;
    left: -9999px;
    top: 20px;
    opacity: 0;
    z-index: 1000;
}
/* #cssmenu1 > ul > li:hover > ul {
    left: auto;
    top: 19px;
    opacity: 1;
} */
#cssmenu1 ul ul li a {
    width: 140px;
    margin-top: -1px;
    margin-left: -11px;
    padding: 5px 10px 5px 10px;
    line-height: 1.4;
    border: 1px solid #e7e7e7;
    font-size: 11px;
    letter-spacing: -1px;
    color: #9ea2a5;
    background: #fff;
    cursor: default;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
#cssmenu1 ul ul li a .title {
    display: block;
    font-weight: bold;
    color: #000;
    font-size: 11px;
}
#cssmenu1 ul ul li a .blue {
    color: #1066be;
    font-weight: bold;
}
#cssmenu1 ul ul li a .red {
    color: #ef4141;
    font-weight: bold;
}
.displaynone {
    display: none !important;
}
.displaynone {
    display: none;
}
table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
.xans-product-detail .infoArea table {
    border: 0;
    font-size: 11px;
    margin-top: 20px;
    border-top: 1px solid #e5e5e5;
}
caption {
    display: table-caption;
    text-align: -webkit-center;
}
caption {
    display: none;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.xans-product-detail .infoArea .custom0 {
    display: none;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

th, td {
    border: 0;
    vertical-align: top;
}
.xans-product-detail .infoArea th {
    font-weight: normal;
    color: #353535;
    width: 80px;
    padding: 7px 0 8px 0px;
    text-align: left;
    vertical-align: top;
}
.xans-product-detail .infoArea td {
    padding: 5px 10px 5px 0;
    vertical-align: top;
}
strong, b {
    font-weight: bold;
}
.xans-product-detail .infoArea .mem_lv_wrap {
    position: relative;
    z-index: 200;
}
ul, menu, dir {
	
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, code, form, fieldset, legend, input, textarea, p, blockquote, 
th, td, img {
    margin: 0;
    padding: 0;
}
.xans-product-detail .infoArea td .mileage li {
    line-height: 1.7em;
}
/* 수량 */
.xans-product-detail .infoArea td .quantity {
    position: relative;
    display: block;
}
.xans-product-detail .infoArea td .quantity .QuantityUp {
    position: absolute;
    left: 32px;
    top: 0;
}
.xans-product-detail .infoArea td .quantity .QuantityDown {
    position: absolute;
    left: 32px;
    bottom: 0;
}
.xans-product-detail .infoArea td input {
    height: 20px;
    color: #353535;
}
.xans-product-detail .infoArea td .quantity input {
    width: 30px;
    height: 18px;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    padding-left: 5px;
}


/* select 태그 */
input, select, textarea {
    font-size: 100%;
    font-family: "돋움",Dotum;
    color: #353535;
    vertical-align: middle;
}
select {
    height: 24px;
    border: 1px solid #d5d5d5;
}
.xans-product-detail .infoArea td select {
    width: 100%;
    height: 24px;
    font-size: 12px;
    color: #353535;
}

.td-color2.mem_lv_wrap, .resize{
	text-align: initial;
} 

/* action Btn */
.xans-product-action {
/*     position: absolute; */
    bottom: 60px;
    width: 480px;
    margin-top: 20px;
}
.xans-product-action .btnArea {
    text-align: left;
}
.xans-product-action .btnArea img {
    padding-right: 3px;
}

/* 리뷰 */
iframe[name=reviewBoard] {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    /* overflow: visible; */
    visibility: visible;
    border: 0;
    width: 100%;
    height: auto;
    min-height: 500px;
}
iframe[Attributes Style] {
    width: 100%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}
.xans-product-additional div.board {
    padding: 0px 0 30px;
    color: #000;
    line-height: 18px;
}

.xans-product-additional div.board h3 {
    padding: 40px 0 30px 0;
    text-align: center;
    font-size: 18px;
    font-family: 'Helvetica',sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    border-top: 1px solid #000;
}
.xans-product-additional div.board p.nodata {
    margin: 15px 0 0;
    border: 1px solid #f1f1f1;
    font-weight: bold;
    color: #008bcc;
    line-height: 39px;
    text-align: center;
}
.xans-product-additional div.board .btnArea {
    padding: 10px;
    text-align: right;
}
.xans-product-additional div.board > .btnArea {
    padding: 20px 0 20px 20px;
    border-top: 0;
}

/* 옵션 선택시 추가*/

.option_mini {
    float: left;
    position: relative;
    z-index: 0;
    width: 100%;
    margin-top: -1px;
    background: #f5f5f5;
}

.prdc_info_column2 .option_case, 
.prdc_info_column2 .md_prd, 
.prdc_info_column2 .option_mini {
    float: left;
    position: relative;
    width: 560px;
    padding: 13px 10px 14px;
}
.option_mini {
    /* width: 560px; */
    /* padding: 0 10px; */
    border-top: 1px solid #dadada;
}
.option_mini ul {
    float: left;
    width: 100%;
    padding-left: 0;
}
.option_mini li {
    float: left;
    position: relative;
	/* width: 260px; */
    width: 100%;
    padding: 10px 0;
    margin-left: 20px;
/*     border-top: 1px solid #dadada; */
    
}
.option_mini li {
    width: 540px;
    padding: 12px 0 15px;
}
#option_mini > strong{
	margin-bottom:50px;
}
em, address {
    font-style: normal;
}
.option_mini em {
	text-align: left;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    line-height: 18px;
    word-break: break-all;
}
.plusminus_wrap {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 21px;
    margin-top: 0;
    padding: 0 0 0 21px;
    vertical-align: middle;
}
.option_mini .plusminus_wrap {
    float: left;
}
.plusminus_wrap .text {
    position: absolute;
    left: 21px;
    width: 22px;
    height: 17px;
    padding: 2px 4px 0px;
    margin-top: 2px;
    border: 1px solid #dadada;
    border-left: 0 none;
    border-right: 0 none;
    font: 12px/1.2 Tahoma,'맑은 고딕',Malgun Gothic,dotum,sans-serif;
    text-align: center;
    vertical-align: top;
}
:root .plusminus_wrap input[type='text'] {
    padding: 1px 4px 1px;
}
.plusminus_wrap button {
	cursor: pointer;
}
.numbtn_minus {
    width: 21px;
    height: 21px;
    line-height: 21px;
    background: url(/h72/resources/image/sp_product.png) no-repeat -231px -3px;
    border: 0 none;
    overflow: hidden;
}
.plusminus_wrap .numbtn_minus {
    position: absolute;
    left: 0;
    top: 2px;
    vertical-align: top;
}
.hide {
    position: absolute;
    z-index: -10;
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    word-break: break-all;
}
.numbtn_plus {
    width: 21px;
    height: 21px;
    line-height: 21px;
    background: url(/h72/resources/image/sp_product.png) no-repeat -262px -3px;
    border: 0 none;
    overflow: hidden;
}
.plusminus_wrap .numbtn_plus {
    position: absolute;
    right: 0;
    top: 2px;
    vertical-align: top;
}
.option_mini .sel_price {
    float: right;
    position: relative;
    width: 150px;
    padding-right: 70px;
    text-align: right;
}
.option_mini .sel_price button.btn_cc {
    position: absolute;
    right: 40px;
    top: -3px;
    width: 21px;
    height: 21px;
    background: url(/h72/resources/image/sp_product.png) no-repeat -293px -3px;
    cursor: pointer;
}

.xans-element-.xans-product.xans-product-option.xans-record- {
	border-bottom: 1px solid #e5e5e5;
}

/* total price */
div.prdc_total {
    float: left;
    width: 100%;
}
div.prdc_total .total_price {
    float: left;
    width: 100%;
    height: 66px;
}
div.prdc_total .total_price .txt_tt {
    float: left;
    width: 160px;
    margin: 25px 0 0 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
    color: #333;
}
div.prdc_total .total_price .total_pr {
    float: right;
    padding: 13px 10px 0 0;
    color: #333;
}
div.prdc_total .total_price .total_pr strong {
    font: bold 28px/1.2 Tahoma,'맑은 고딕',Malgun Gothic,dotum,sans-serif;
    color: #f43142;
}

/* 메인이미지 */
.keyImg > img {
	width: 640px;
	height: 470px;
	border: 1.111px;
}

/* 상세이미지 */
#prdDetail > .cont > center > p > img {
	margin-top: 100px;
    border-top: 1px solid #dadada;
    padding-top: 100px;
}


/* //sunny_in */



/* //sunny_footer */

/* 장바구니 담기 div */
title {
	display: none;
}

meta {
	display: none;
}

.xans-product-basketadd {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    width: 450px;
    margin: -175px 0 0 -225px;
    font-size: 11px;
}

.xans-product-basketadd h1 {
    height: 35px;
    padding: 0 35px 0 19px;
    color: #fff;
    font-size: 14px;
    line-height: 35px;
    background: #1066be;
}

.xans-product-basketadd > .content {
    padding: 185px 20px 65px;
    border-right: 1px solid #1066be;
    border-left: 1px solid #1066be;
    text-align: center;
    background: #fff url(/h72/resources/image/img_addcart.png) no-repeat 50% 68px;
}

p {
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.xans-product-basketadd .btnArea {
    padding: 20px;
    border: 1px solid #1066be;
    border-top: 1px solid #1066be;
    text-align: center;
    background: #fff;
}

.xans-product-basketadd .close {
    position: absolute;
    right: 20px;
    top: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

img, fieldset {
    border: none;
    vertical-align: top;
}

.xans-product-basketadd .close img {
    cursor: pointer;
}


#mask {  
  position:absolute;  
  left:0;
  top:0;
  z-index:9000;  
  background-color:rgba(0, 0, 0, 0.8);  
  display:none;  
}

#maskInner {
position: fixed;
    top: 35%;
    left: 25%;
    z-index: 1000;
    width: 1250px;
    margin: -175px 0 0 -225px;
    font-size: 11px;
  	background:white;
  	opacity: 1;
}


/* function mask_uploadPhoto(){
	
}
// 리뷰쓰기 사진 올리기 버튼
   	var m_n = 1;
  	var m_num = 1;

// 사진올리기 버튼 클릭
	$(document).on("click", "mask.image-inline-photo-add", function(){
   		//e.preventDefault();
   		if(n < 6){
   			//버튼(input type=file)클릭 강제 이벤트
   			$("#maskupBtn" + m_n).click();         
   			$("input:file").val().toLowerCase();
   		}else{
   			alert("사진은 최대 5장까지만 업로드할 수 있습니다.")
   		}
   	});
//input file 선택했을 때
	$(".mask.input-file").change(function(){
		
		var ext = $("#maskupBtn" + m_n).val().split(".").pop();
		ext = ext.toLowerCase();
		
		if(ext.length > 0){
			if($.inArray(ext,['gif','png','jpg','jpeg']) == -1) { 
				alert("gif,png,jpg 파일만 업로드 할수 있습니다.");
				this.value = "";
				return false;  
			} else {
				mask_readURL(this);	
				if(num != 6){	
					$(this).css("display", "none");
				}
		 		
				var thum = $(".mask.preview_div_" + m_n).attr("class");
				thum = thum.replace( /\s/, ".");
				$("." + thum).css("display", "block");//숨겨진 섬네일 show
			}
		}
		m_n++;
	});

	function mask_readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function(e) {
				var thumnailId = "mask_preview"+ num;
				console.log(thumnailId);
				$('#'+thumnailId).css("width","74px");
				$('#'+thumnailId).css("height","74px");
				$('#'+thumnailId).attr("src", e.target.result);
				m_num++;
			}
			reader.readAsDataURL(input.files[0]);
		}
	}

//사진 삭제 눌렀을 때
	$( document ).on( "click", ".mask.remove-preview.hoverable", function(){
	  
		//선택한 사진의 번호
		var this_preview_class = $( this ).parent().attr( "class" );//클릭한 섬네일 div
		this_preview_class = this_preview_class.replace( /\s/, "." );//공백 '.' 치환 
		var preview_num = this_preview_class.substring( this_preview_class.length - 1);
		  
		m_n--;	// 6 -> 5
		m_num--;	// 6 -> 5

 		  	//alert( "선택된 사진 class(from parent)  : " + this_preview_class + "\n선택된 사진 번호 : " + preview_num + "\nn: " + n +"\nnum: " + num + "\n총 사진갯수 : " + num);
		if(m_num == 5){
			//사진 5장 선택됐을 때
			if(preview_num == 5){//5번 사진 삭제시
  		  		//1. 5번사진 src 담기(5번사진 src 삭제 안해도 추가할 때 덧입혀짐.)
    			var preview_src_5 = $( "#mask_preview" + m_num ).attr( "src" );
    			$( "#mask_preview" + m_num ).attr( "src", null );
    			
    			//2. 5번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none)
    			var preview_src_parent_5 = $( "#mask_preview" + m_num ).parent().attr( "class" );
    			preview_src_parent_5 = preview_src_parent_5.replace( /\s/, ".");
    			$( "." + preview_src_parent_5 ).css( "display", "none" );
  		  	}
		  
			if(preview_num == 4){//4번 사진 삭제시( 4 <- 5 )
				//1. 5번사진 src 담기(5번사진 src 삭제 안해도 추가할 때 덧입혀짐.)
				var preview_src_5 = $( "#mask_preview" + m_num ).attr( "src" );
				$( "#mask_preview" + m_num ).attr( "src", "" );
				
				//2. 5번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none)
				var preview_src_parent_5 = $( "#mask_preview" + m_num ).parent().attr( "class" );
				preview_src_parent_5 = preview_src_parent_5.replace( /\s/, ".");
				$( "." + preview_src_parent_5 ).css( "display", "none" );
				
				//3. 5번사진 src 4번 사진 src 넣기
				$( "#mask_preview" + ( m_num - 1 ) ).attr( "src", preview_src_5 );//5번사진 src --> 4번사진 src 넣기		  
	  		}
  		  
			if(preview_num == 3){//3번 사진 삭제시( 3 <- 4 <- 5 )
	  			//1. 5번사진 src 담기(5번사진 src 삭제 안해도 추가할 때 덧입혀짐.) / 4번사진 src 담기(4번사진 src 삭제 안해도 추가할 때 덧입혀짐.)
	  			var preview_src_4 = $( "#mask_preview" + ( m_num - 1 ) ).attr( "src" );
	  			var preview_src_5 = $( "#mask_preview" + m_num ).attr( "src" );
	  			
	  			//2. 5번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none) / 4번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none) 
	  			var preview_src_parent_5 = $( "#mask_preview" + m_num ).parent().attr( "class" );
	  			preview_src_parent_5 = preview_src_parent_5.replace( /\s/, ".");
	  			$( "." + preview_src_parent_5 ).css( "display", "none" );
	  			
	  			//3. 5번사진 src 4번 사진 src으로 넣기 / 4번사진 src 3번 사진 src으로 넣기
				$( "#mask_preview" + ( m_num - 2 ) ).attr( "src", preview_src_4 );//4번사진 src --> 3번사진 src 넣기
				$( "#mask_preview" + ( m_num - 1 ) ).attr( "src", preview_src_5 );//5번사진 src --> 4번사진 src 넣기		  
			}	
  		  
			if(preview_num == 2){//2번 사진 삭제시( 2 <- 3 <- 4 <- 5 )
	  			//1. 5번사진 src 담기(5번사진 src 삭제 안해도 추가할 때 덧입혀짐.) / 4번사진 src 담기(4번사진 src 삭제 안해도 추가할 때 덧입혀짐.) / 3번사진 src 담기(3번사진 src 삭제 안해도 추가할 때 덧입혀짐.)
	  			var preview_src_3 = $( "#mask_preview" + ( m_num - 2 ) ).attr( "src" );
	  			var preview_src_4 = $( "#mask_preview" + ( m_num - 1 ) ).attr( "src" );
	  			var preview_src_5 = $( "#mask_preview" + m_num ).attr( "src" );
	  			
	  			//2. 5번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none) / 4번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none) / 3번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none) 
	  			var preview_src_parent_5 = $( "#mask_preview" + m_num ).parent().attr( "class" );
	  			preview_src_parent_5 = preview_src_parent_5.replace( /\s/, ".");
	  			$( "." + preview_src_parent_5 ).css( "display", "none" );
	  			
	  			//3. 5번사진 src 4번 사진 src으로 넣기 / 4번사진 src 3번 사진 src으로 넣기
				$( "#mask_preview" + ( m_num - 3 ) ).attr( "src", preview_src_3 );//3번사진 src --> 2번사진 src 넣기
				$( "#mask_preview" + ( m_num - 2 ) ).attr( "src", preview_src_4 );//4번사진 src --> 3번사진 src 넣기
				$( "#mask_preview" + ( m_num - 1 ) ).attr( "src", preview_src_5 );//5번사진 src --> 4번사진 src 넣기		  
			}
  		  
			if(preview_num == 1){//2번 사진 삭제시( 1 <- 2 <- 3 <- 4 <- 5 )
	  			//1. 5번사진 src 담기(5번사진 src 삭제 안해도 추가할 때 덧입혀짐.) / 4번사진 src 담기(4번사진 src 삭제 안해도 추가할 때 덧입혀짐.) / 3번사진 src 담기(3번사진 src 삭제 안해도 추가할 때 덧입혀짐.)
	  			var preview_src_2 = $( "#mask_preview" + ( m_num - 3 ) ).attr( "src" );
	  			var preview_src_3 = $( "#mask_preview" + ( m_num - 2 ) ).attr( "src" );
	  			var preview_src_4 = $( "#mask_preview" + ( m_num - 1 ) ).attr( "src" );
	  			var preview_src_5 = $( "#mask_preview" + m_num ).attr( "src" );
	  			
	  			//2. 5번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none) / 4번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none) / 3번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none) 
	  			var preview_src_parent_5 = $( "#mask_preview" + m_num ).parent().attr( "class" );
	  			preview_src_parent_5 = preview_src_parent_5.replace( /\s/, ".");
	  			$( "." + preview_src_parent_5 ).css( "display", "none" );
	  			
	  			//3. 5번사진 src 4번 사진 src으로 넣기 / 4번사진 src 3번 사진 src으로 넣기
				$( "#mask_preview" + ( m_num - 4 ) ).attr( "src", preview_src_2 );//2번사진 src --> 1번사진 src 넣기		  
				$( "#mask_preview" + ( m_num - 3 ) ).attr( "src", preview_src_3 );//3번사진 src --> 2번사진 src 넣기
				$( "#mask_preview" + ( m_num - 2 ) ).attr( "src", preview_src_4 );//4번사진 src --> 3번사진 src 넣기
				$( "#mask_preview" + ( m_num - 1 ) ).attr( "src", preview_src_5 );//5번사진 src --> 4번사진 src 넣기		  
			}
	 	}
		
		if(m_num == 4){//사진 4장 선택됐을 때
			if(preview_num == 4){//4번 사진 삭제시
	    		//1. 4번사진 부모 class값 가져오고 display: none
	    		var preview_src_parent_4 = $( "#mask_preview" + m_num ).parent().attr( "class" );
	    		preview_src_parent_4 = preview_src_parent_4.replace( /\s/, ".");
	    		$( "." + preview_src_parent_4 ).css( "display", "none" );
			}
			  
			if(preview_num == 3){//3번 사진 삭제시( 3 <- 4 )
	  			//1. 4번사진 src 담기(4번사진 src 삭제 안해도 추가할 때 덧입혀짐 )
	  			//2. 4번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none) / 4번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none)
	  			var preview_src_4 = $( "#mask_preview" + m_num ).attr( "src" );
	  			var preview_src_parent_4 = $( "#mask_preview" + m_num ).parent().attr( "class" );
	  			preview_src_parent_4 = preview_src_parent_4.replace( /\s/, ".");
	  			$( "." + preview_src_parent_4 ).css( "display", "none" );
	  			//3. 4번사진 src 3번 사진 src 넣기
				$( "#mask_preview" + ( m_num - 1 ) ).attr( "src", preview_src_4 );//5번사진 src --> 4번사진 src 넣기		  
			}
	  		  
			if(preview_num == 2){//2번 사진 삭제시( 2 <- 3 <- 4 )
	  			//1. 3번사진 src 담기(3번사진 src 삭제 안해도 추가할 때 덧입혀짐.) / 4번사진 src 담기(4번사진 src 삭제 안해도 추가할 때 덧입혀짐.)
	  			var preview_src_3 = $( "#mask_preview" + ( m_num - 1 ) ).attr( "src" );
	  			var preview_src_4 = $( "#mask_preview" + m_num ).attr( "src" );
	  			
	  			//2. 4번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none) / 4번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none) 
	  			var preview_src_parent_4 = $( "#mask_preview" + m_num ).parent().attr( "class" );
	  			preview_src_parent_4 = preview_src_parent_4.replace( /\s/, ".");
	  			$( "." + preview_src_parent_4 ).css( "display", "none" );
	  			
	  			//3. 3번사진 src 2번 사진 src으로 넣기 / 4번사진 src 3번 사진 src으로 넣기
				$( "#mask_preview" + ( m_num - 2 ) ).attr( "src", preview_src_3 );//3번사진 src --> 2번사진 src 넣기
				$( "#mask_preview" + ( m_num - 1 ) ).attr( "src", preview_src_4 );//4번사진 src --> 3번사진 src 넣기		  
			}
	  		  
			if(preview_num == 1){//1번 사진 삭제시( 1 <- 2 <- 3 <- 4 )
	  			//1. 2번사진 src 담기(2번사진 src 삭제 안해도 추가할 때 덧입혀짐.) / 3번사진 src 담기(3번사진 src 삭제 안해도 추가할 때 덧입혀짐.) / 4번사진 src 담기(4번사진 src 삭제 안해도 추가할 때 덧입혀짐.)
	  			var preview_src_2 = $( "#mask_preview" + ( m_num - 2 ) ).attr( "src" );
	  			var preview_src_3 = $( "#mask_preview" + ( m_num - 1 ) ).attr( "src" );
	  			var preview_src_4 = $( "#mask_preview" + m_num ).attr( "src" );
	  			
	  			//2. 4번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none) / 4번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none) / 3번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none) 
	  			var preview_src_parent_4 = $( "#mask_preview" + m_num ).parent().attr( "class" );
	  			preview_src_parent_4 = preview_src_parent_4.replace( /\s/, ".");
	  			$( "." + preview_src_parent_4 ).css( "display", "none" );
	  			
	  			//3. 2번사진 src 1번 사진 src으로 넣기 / 3번사진 src 2번 사진 src으로 넣기 / 4번사진 src 3번 사진 src으로 넣기
				$( "#mask_preview" + ( m_num - 3 ) ).attr( "src", preview_src_2 );//2번사진 src --> 1번사진 src 넣기
				$( "#mask_preview" + ( m_num - 2 ) ).attr( "src", preview_src_3 );//3번사진 src --> 2번사진 src 넣기
				$( "#mask_preview" + ( m_num - 1 ) ).attr( "src", preview_src_4 );//4번사진 src --> 3번사진 src 넣기		  
			}
		}
		
		if(m_num == 3){//사진 3장 선택됐을 때
			if(preview_num == 3){//3번 사진 삭제시
	    		//1. 3번사진 부모 class값 가져오고 display: none
	    		var preview_src_parent_3 = $( "#mask_preview" + m_num ).parent().attr( "class" );
	    		preview_src_parent_3 = preview_src_parent_3.replace( /\s/, ".");
	    		$( "." + preview_src_parent_3 ).css( "display", "none" );
			}
			  
			if(preview_num == 2){//2번 사진 삭제시( 2 <- 3 )
	  			//1. 3번사진 src 담기(3번사진 src 삭제 안해도 추가할 때 덧입혀짐 )
	  			//2. 3번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none)
	  			var preview_src_3 = $( "#mask_preview" + m_num ).attr( "src" );
	  			var preview_src_parent_3 = $( "#mask_preview" + m_num ).parent().attr( "class" );
	  			preview_src_parent_3 = preview_src_parent_3.replace( /\s/, ".");
	  			$( "." + preview_src_parent_3 ).css( "display", "none" );
	  			
	  			//3. 3번사진 src 2번 사진 src 넣기
				$( "#mask_preview" + ( m_num - 1 ) ).attr( "src", preview_src_3 );//3번사진 src --> 2번사진 src 넣기		  
			}
	  		  
			if(preview_num == 1){//1번 사진 삭제시( 1 <- 2 <- 3 )
	  			//1. 2번사진 src 담기(2번사진 src 삭제 안해도 추가할 때 덧입혀짐.) / 3번사진 src 담기(3번사진 src 삭제 안해도 추가할 때 덧입혀짐.)
	  			var preview_src_2 = $( "#mask_preview" + ( m_num - 1 ) ).attr( "src" );
	  			var preview_src_3 = $( "#mask_preview" + m_num ).attr( "src" );
	  			
	  			//2. 3번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none) 
	  			var preview_src_parent_3 = $( "#mask_preview" + m_num ).parent().attr( "class" );
	  			preview_src_parent_3 = preview_src_parent_3.replace( /\s/, ".");
	  			$( "." + preview_src_parent_3 ).css( "display", "none" );
	  			
	  			//3. 2번사진 src 1번 사진 src으로 넣기 / 3번사진 src 2번 사진 src으로 넣기
				$( "#mask_preview" + ( m_num - 2 ) ).attr( "src", preview_src_2 );//2번사진 src --> 1번사진 src 넣기
				$( "#mask_preview" + ( m_num - 1 ) ).attr( "src", preview_src_3 );//3번사진 src --> 2번사진 src 넣기		  
			}
		}
		
		if(m_num == 2){//사진 2장 선택했을 때
			if(preview_num == 2){//2번 사진 삭제시
	    		//1. 2번사진 부모 class값 가져오고 display: none
	    		var preview_src_parent_2 = $( "#mask_preview" + m_num ).parent().attr( "class" );
	    		preview_src_parent_2 = preview_src_parent_2.replace( /\s/, ".");
	    		$( "." + preview_src_parent_2 ).css( "display", "none" );
			}
			  
			if(preview_num == 1){//1번 사진 삭제시( 1 <- 2 )
	  			//1. 2번사진 src 담기(2번사진 src 삭제 안해도 추가할 때 덧입혀짐 )
	  			//2. 2번사진 부모 class값 가져오기(class 값에 공백을 '.'로 치환 --> display: none)
	  			var preview_src_2 = $( "#mask_preview" + m_num ).attr( "src" );
	  			var preview_src_parent_2 = $( "#mask_preview" + m_num ).parent().attr( "class" );
	  			preview_src_parent_2 = preview_src_parent_2.replace( /\s/, ".");
	  			$( "." + preview_src_parent_2 ).css( "display", "none" );
	  			
	  			//3. 2번사진 src 1번 사진 src 넣기
				$( "#mask_preview" + ( m_num - 1 ) ).attr( "src", preview_src_2 );//2번사진 src --> 1번사진 src 넣기		  
			}
		}
		
		if(m_num == 1){
			if(preview_num == 1){//1번 사진 삭제시
	    		//1. 1번사진 부모 class값 가져오고 display: none
	    		var preview_src_parent_1 = $( "#mask_preview" + m_num ).parent().attr( "class" );
	    		preview_src_parent_1 = preview_src_parent_1.replace( /\s/, ".");
	    		$( "." + preview_src_parent_1 ).css( "display", "none" );
	    		$( "#mask_preview" + m_num ).attr( "src", "" );
			}
		}
	});

 */


























