@CHARSET "UTF-8";

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
	code, form, fieldset, legend, input, textarea, p, blockquote, th, td,
	img {
	margin: 0 auto;
	padding: 0;
	border: none;
	
}

@import url( "http://fonts.googleapis.com/earlyaccess/notosanskr.css" );

body, code {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 12px;
	color: #000;
}

a {
	text-decoration: none;
}

.main_line2 .main_cate #main_cateIdx1 {
	margin-left: -95px;
}

#mjoin_content_wrap {
	width: 100%;
	height: 100%;
}

#mjoin_contents {
	width: 1280px;
	margin: 0 auto;
}

/* shopping cart, order, order list, order detail title */
.mjoin_titleArea h2 {
	padding-top: 124px;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 40px;
}

.mjoin_titleArea #mjoin_benefit {
	border: 1px solid #e6e6e6;
	box-shadow: 3px -3px 3px #ddd;
	margin-bottom: 50px;
}

.mjoin_form {
	text-align: left;
	width: 1250px;
	
}

.mjoin_form h3 {
	margin-left: 10px;
}

.mjoin_form .mjoin_required {
	text-align: right;
}

#mjoin_red {
	color: red;
}

.mjoin_boardWrite {
	table-layout: fixed;
	border: 1px solid #e7e7e7;
	line-height: 180%;
	font-size: 11px;
}

.mjoin_boardWrite table {
	font-family: "돋움", Dotum;
	width: 100%;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.mjoin_boardWrite table tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

.mjoin_boardWrite table tbody tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

.mjoin_boardWrite table tbody th {
	width: 130px;
	padding: 10px 0 8px 20px;
	border-top: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	background-color: #fbfafa;
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

.mjoin_boardWrite img {
	vertical-align: middle;
}

.mjoin_boardWrite table tbody td {
	width: auto;
	padding: 10px 0 8px 10px;
	border-top: 1px solid #e7e7e7;
}

.mjoin_boardWrite input {
	height: 14px;
	padding: 4px;
	border: 1px solid #e7e7e7;
	color: #202020;
	font-size: 12px;
}

.mjoin_boardWrite #postnum {
	width: 50px;
	text-align: center;
	margin-right: 5px;
}

.mjoin_boardWrite #postFindBtn {
	height: 27px;
	vertical-align: middle;
	text-align: center;
	margin: 0 0 5px 0;
}

.mjoin_boardWrite #address, .mjoin_boardWrite #addressDetail {
	width: 280px;
	margin: 5px 0 0;
}

.mjoin_boardWrite #phone1 {
	height: 24px;
	border: 1px solid #d5d5d5;
	font-size: 100%;
	font-family: "돋움", Dotum;
	color: #353535;
	vertical-align: middle;
	border: 1px solid #d5d5d5;
}

.mjoin_boardWrite #phone2, .mjoin_boardWrite #phone3 {
	width: 50px;
	margin: 0 4px;
}

.mjoin_boardWrite #email3 {
	height: 24px;
	margin: 0 4px 0 4px;
	border: 1px solid #d5d5d5;
	font-size: 100%;
	font-family: "돋움", Dotum;
	color: #353535;
	vertical-align: middle;
}

.mjoin_agreeArea {
	padding: 20px 20px 15px 20px;
	border: 1px solid #e7e7e7;
	color: #747474;
	font-size: 11px;
	line-height: 20px;
	background: #fbfafa;
}

.mjoin_agreeArea .mjoin_agree {
	overflow: auto;
	height: 110px;
	padding: 20px;
	border: 1px solid #e7e7e7;
	background: #fff;
}

.mjoin_agreeArea .mjoin_agree p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	padding: 0 0 17px;
}

.mjoin_agreeArea .mjoin_check {
	padding: 7px 0 0 0;
	color: #202020;
	font-size: 11px;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-family: "돋움", Dotum;
}

.mjoin_agreeArea .mjoin_check #agree_service_check0, #agree_privacy_check0 {
	width: 14px;
	height: 14px;
	margin: 0 3px 0 3px;
	padding: 0;
	border: 0;
	color: #202020;
	font-size: 11px;
	vertical-align: middle;
}

.mjoin_btnArea {
	font-size: 13px;
	color: #fff;
	font-weight: none;
	margin-top: 10px;
	margin-bottom: 70px;
	background: #000;
	border: none;
	width: 100px;
	height:50px;
	line-height:50px;
	text-align:center;
}

#mupdate_btnArea{
	margin-top: 30px;
	text-align: center;
}

#mupdate_btnArea div{
	display: inline-block;
}