<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="detailMapper">
	<resultMap id="itemResult" type="com.project.h72.detail.vo.DetailVO">
	<id property="ITEM_DETAIL_ID" column="ITEM_DETAIL_ID" />
	<result property="CATEGORY_CODE" column="CATEGORY_CODE" />
	<result property="ITEM_STATUS" column="ITEM_STATUS" />
	<result property="ITEM_NAME" column="ITEM_NAME" />
	<result property="MIN_PRICE" column="MIN_PRICE" />
	<result property="MIN_SAIL_PRICE" column="MIN_SAIL_PRICE" />
	<result property="MAIN_IMG" column="MAIN_IMG" />
	<result property="DETAIL_IMG01" column="DETAIL_IMG01" />
	<result property="DETAIL_IMG02" column="DETAIL_IMG02" />
	<result property="ETC" column="ETC" />
	</resultMap>
	
	<resultMap id="detailResult" type="com.project.h72.detail.vo.DetailDIVO">
	<id property="ITEM_ID" column="ITEM_ID" />
	<result property="ITEM_NAME" column="ITEM_NAME" />
	<result property="ITEM_OPTION_NAME" column="ITEM_OPTION_NAME" />
	<result property="ITEM_DETAIL_ID" column="ITEM_DETAIL_ID" />
	<result property="PRICE" column="PRICE" />
	<result property="SAIL_PRICE" column="SAIL_PRICE" />
	<result property="STOCK" column="STOCK" />
	<result property="MAIN_IMG" column="MAIN_IMG" />
	<result property="DETAIL_IMG01" column="DETAIL_IMG01" />
	<result property="DETAIL_IMG02" column="DETAIL_IMG02" />
	<result property="ETC" column="ETC" />
	</resultMap>
	
	<resultMap id="reviewResult" type="com.project.h72.detail.vo.Review">
	<id property="REVIEW_ID" column="REVIEW_ID" />
	<result property="ITEM_DETAIL_ID" column="ITEM_DETAIL_ID" />
	<result property="R_WRITER" column="R_WRITER" />
	<result property="R_CONTENTS" column="R_CONTENTS" />
	<result property="R_DATE" column="R_DATE" />
	<result property="R_IMG01" column="R_IMG01" />
	<result property="R_IMG02" column="R_IMG02" />
	<result property="R_IMG03" column="R_IMG03" />
	<result property="R_IMG04" column="R_IMG04" />
	<result property="R_IMG05" column="R_IMG05" />
	</resultMap>
	
	
	<select id="selectItemList" resultType="DetailVO" resultMap="itemResult">
	SELECT *
	FROM ITEM_DETAIL_VIEW
	</select>
	
	<select id="selectDetailItem" parameterType="String" resultType="DetailDIVO" resultMap="detailResult">
	SELECT *
	FROM ITEM_ALL_VIEW
	WHERE ITEM_DETAIL_ID LIKE #{ItemDetailId, jdbcType=VARCHAR}
	</select>
	
	<!-- 
	<insert id="insertCart" parameterType="java.util.ArrayList">
		<foreach collection="list" item="element" index="index" >
		INSERT INTO CART(
		CART_ID, ITEM_ID, USER_ID, ITEM_FULL_NAME, ITEM_DETAIL_ID, MAIN_IMG, QUANTITY, COST, MESSAGE, KIT_YN, ENROLL_DATE)
		VALUES(
			SEQ_CART_ID.NEXTVAL,
			(SELECT ITEM_ID FROM ITEM_ALL_VIEW WHERE ITEM_DETAIL_ID LIKE (#{element.itemDetailid}) AND ITEM_OPTION_NAME LIKE (#{element.itemOptionName}),
			#{element.userid},
			#{element.itemFullName},
			#{element.itemDetailid},
			#{element.mainImg},
			#{element.quantity},
			#{element.cost},
			#{element.message},
			#{element.KitYN},
			SYSDATE)
		</foreach>
	</insert>
	-->
	<insert id="insertCart" parameterType="com.project.h72.cart.vo.Cart">
		INSERT INTO CART(
		CART_ID, ITEM_ID, USER_ID, ITEM_FULL_NAME, ITEM_DETAIL_ID, MAIN_IMG, QUANTITY, COST, MESSAGE, KIT_YN, ENROLL_DATE)
		VALUES(
		SEQ_CART_ID.NEXTVAL,
		(SELECT ITEM_ID 
		 FROM ITEM_ALL_VIEW 
		 WHERE ITEM_DETAIL_ID = #{itemDetailid} AND ITEM_OPTION_NAME = #{itemOptionName}),
		#{userid}, #{itemFullName}, #{itemDetailid}, #{mainImg}, #{quantity}, #{cost}, #{message}, #{KitYN}, SYSDATE)
	</insert>
	
	<select id="selectItemId" parameterType="com.project.h72.cart.vo.Cart" resultType="String">
		SELECT ITEM_ID
		FROM ITEM_ALL_VIEW
		WHERE ITEM_DETAIL_ID = #{itemDetailid} AND ITEM_OPTION_NAME = #{itemOptionName}
	</select>
	
	
	<select id="selectCart" parameterType="com.project.h72.cart.vo.Cart" resultType="int">
		SELECT COUNT(*)
		FROM CART
		WHERE ITEM_DETAIL_ID = #{itemDetailid} AND ITEM_ID = #{itemid} AND USER_ID = #{userid}
	</select>


	<select id="selectReviewListCount" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM REVIEW
		WHERE ITEM_DETAIL_ID = #{itemDetailId}
	</select>

	<select id="selectReview" parameterType="hashmap" resultType="Review" resultMap="reviewResult">
		SELECT *
		FROM(
		SELECT ROWNUM RNUM, REVIEW_ID, ITEM_DETAIL_ID, R_WRITER, R_CONTENTS, R_DATE, R_IMG01, R_IMG02, R_IMG03, R_IMG04, R_IMG05
      		 FROM(SELECT *
            	  FROM REVIEW
            	  WHERE ITEM_DETAIL_ID = #{itemDetailId, jdbcType=VARCHAR}
            	  ORDER BY REVIEW_ID DESC)
            	  )
        <![CDATA[    	  
		WHERE RNUM >= (#{currentPage, jdbcType=VARCHAR} - 1 ) * 5 + 1 AND RNUM <= ((#{currentPage, jdbcType=VARCHAR} - 1 ) * 5 + 1) + (#{limit, jdbcType=VARCHAR} - 1) 
		]]>
	</select>

		<!-- (needPageData.currentPage - 1) * 5 + 1
		((needPageData.currentPage - 1) * 5 + 1) + needPageData.limit - 1 -->
		<!-- int startRow = (currentPage - 1) * 5 + 1; // 읽기 시작할 row 번호
		int endRow = startRow + limit - 1; //읽을 마지막  row 번호 -->

	<select id="selectListNo" resultType="String">
		SELECT MAX(REVIEW_ID)
		FROM REVIEW
		<!-- WHERE ITEM_DETAIL_ID = #{itemDetailId} -->
	</select>

	<insert id="insertReview" parameterType="Review">
		INSERT INTO REVIEW
		VALUES(
			(SELECT MAX(REVIEW_ID) + 1 
			 FROM REVIEW) ,
			#{ITEM_DETAIL_ID, jdbcType=VARCHAR} ,
			#{R_WRITER, jdbcType=VARCHAR} ,
			#{R_CONTENTS, jdbcType=VARCHAR} ,
			SYSDATE ,
			#{R_IMG01, jdbcType=VARCHAR} ,
			#{R_IMG02, jdbcType=VARCHAR} ,
			#{R_IMG03, jdbcType=VARCHAR} ,
			#{R_IMG04, jdbcType=VARCHAR} ,
			#{R_IMG05, jdbcType=VARCHAR}
		)
	</insert>

	<insert id="insertFirstReview" parameterType="hashmap">
		INSERT INTO REVIEW
		VALUES(
			#{listNo} ,
			#{review.ITEM_DETAIL_ID, jdbcType=VARCHAR} ,
			#{review.R_WRITER, jdbcType=VARCHAR} ,
			#{review.R_CONTENTS, jdbcType=VARCHAR} ,
			SYSDATE ,
			#{review.R_IMG01, jdbcType=VARCHAR} ,
			#{review.R_IMG02, jdbcType=VARCHAR} ,
			#{review.R_IMG03, jdbcType=VARCHAR} ,
			#{review.R_IMG04, jdbcType=VARCHAR} ,
			#{review.R_IMG05, jdbcType=VARCHAR}
		)
	</insert>

	<delete id="deleteReview" parameterType="ManageForm">
		DELETE FROM REVIEW
		WHERE REVIEW_ID = #{reviewNo}
		AND R_WRITER = #{user} 
	</delete>

	<select id="selectSingleReview" parameterType="ManageForm" resultType="Review" resultMap="reviewResult">
	<!-- REVIEW_ID ITEM_DETAIL_ID R_WRITER R_CONTENTS R_DATE R_IMG01 R_IMG02 R_IMG03 R_IMG04 R_IMG05 -->
		SELECT *
		FROM REVIEW
		WHERE REVIEW_ID = #{reviewNo} 
		AND ITEM_DETAIL_ID = #{itemDetailId} 
		AND R_WRITER = #{user}
	</select>






</mapper>
