<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberAMapper">

	<resultMap id="memberResultMap" type="Member">
		<result property="userid" column="USER_ID" />
		<result property="levelcode" column="LEVEL_CODE" />
		<result property="name" column="NAME" />
		<result property="birthdate" column="BIRTHDATE" />
		<result property="email" column="EMAIL" />
		<result property="phone" column="PHONE" />
		<result property="postnum" column="POST_NUM" />
		<result property="address" column="ADDRESS" />
		<result property="addressdetail" column="ADDRESS_DETAIL" />
		<result property="point" column="POINT" />
		<result property="enrolldate" column="ENROLLDATE" />
		<result property="totalprice" column="TOTAL_PRICE" />
	</resultMap>

	<resultMap id="orderResultMap" type="Order">
		<result property="orderNo" column="ORDER_NO" />
		<result property="userId" column="USER_ID" />
		<result property="mainImgN1" column="MAIN_IMG_N1" />
		<result property="itemNameN1" column="ITEM_NAME_N1" />
		<result property="itemOptionNameN1" column="ITEM_OPTION_NAME_N1" />
		<result property="totalQuantity" column="TOTAL_QUANTITY" />
		<result property="totalPrice" column="TOTAL_PRICE" />
		<result property="paymentMethod" column="PAYMENT_METHOD" />
		<result property="paymentPoint" column="PYMNET_POINT" />
		<result property="totalSavingPoint" column="TOTAL_SAVING_POINT" />
		<result property="deliveryPee" column="DELEVERY_PEE" />
		<result property="phone" column="PHONE" />
		<result property="postNum" column="POST_NUM" />
		<result property="address" column="ADDRESS" />
		<result property="addressDetail" column="ADDRESS_DETAIL" />
		<result property="deliveryMessage" column="DELIVERY_MESSAGE" />
		<result property="orderStatus" column="ORDER_STATUS" />
		<result property="orderChange" column="ORDER_CHANGE" />
		<result property="enrollDate" column="ENROLL_DATE" />
	</resultMap>

	<resultMap id="orderContentsResultMap" type="OrderContents">
		<result property="orderNo" column="ORDER_NO" />
		<result property="itmeId" column="ITEM_ID" />
		<result property="itemName" column="ITEM_NAME" />
		<result property="itemOptionName" column="ITEM_OPTION_NAME" />
		<result property="itemDetailID" column="ITEM_DETAIL_ID" />
		<result property="mainImg" column="MAIN_IMG" />
		<result property="quantity" column="QUANTITY" />
		<result property="savingPoint" column="SAVING_POINT" />
		<result property="cost" column="COST" />
		<result property="message" column="MESSAGE" />
		<result property="kitYN" column="KIT_YN" />
	</resultMap>


	<!-- Member -->
	<select id="getMemberList" resultType="member">
		SELECT * FROM USERS WHERE LEVEL_CODE != 'ADMIN' AND LEVEL_CODE != 'STEP' 
	</select>

	<select id="adminSearchId" parameterType="String" resultType="member">
		SELECT * FROM USERS WHERE USER_ID LIKE '%' || #{id} || '%'
	</select>
	
	<select id="adminSearchName" parameterType="String" resultType="member">
		SELECT * FROM USERS WHERE NAME LIKE '%' || #{name} || '%'
	</select>
	
	<select id="adminSearchDate" parameterType="Map" resultType="member">
		SELECT * FROM USERS WHERE ENROLLDATE between TO_DATE(#{start})  and TO_DATE(#{end})+1
	</select>

	<!-- Order -->
	<select id="getOrderList" resultType="order">
		SELECT * FROM ORDER_LIST
	</select>
	<update id="updateOrderStatus" parameterType="Map">
		UPDATE ORDER_LIST SET ORDER_STATUS = #{status} WHERE ORDER_NO = #{orderNo}
	</update>

	
</mapper>
