<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- vo 클래스 등록 -->
	<typeAliases>
		<typeAlias type="com.project.h72.member.vo.Member"  alias="Member" />
		<typeAlias type="com.project.h72.ProductEnroll.vo.Product"  alias="ProductEnroll" />
		<typeAlias type="com.project.h72.cart.vo.Cart" alias="Cart" />
		<typeAlias type="com.project.h72.Search.vo.Search" alias="Search" />
		<typeAlias type="com.project.h72.order.vo.Order" alias="Order" />
		<typeAlias type="com.project.h72.order.vo.OrderContents" alias="OrderContents" />
 		<typeAlias type="com.project.h72.admin.vo.TotalOrder" alias="TotalOrder" />
 		<typeAlias type="com.project.h72.admin.vo.Paging" alias="Paging" />
		<typeAlias type="com.project.h72.ProductEnroll.vo.ProductItem" alias="ProductItem" />
		<typeAlias type="com.project.h72.ProductEnroll.vo.ProductProvider" alias="ProductProvider" />
		<typeAlias type="com.project.h72.kitDiy.vo.KitDiy" alias="KitDiy" />
		<typeAlias type="com.project.h72.notice.vo.Notice" alias="Notice" />
		<typeAlias type="com.project.h72.detail.vo.DetailVO" alias="DetailVO" />
		<typeAlias type="com.project.h72.detail.vo.DetailDIVO" alias="DetailDIVO" />
		<typeAlias type="com.project.h72.qna.vo.QnA" alias="QnA" />
		<typeAlias type="com.project.h72.kitDiy.vo.Cart" alias="KitCart" />
		<typeAlias type="com.project.h72.kitDiy.vo.Order" alias="KitOrder" />
		<typeAlias type="com.project.h72.detail.vo.Review" alias="Review" />
		<typeAlias type="com.project.h72.detail.vo.ManageForm" alias="ManageForm" />
		
	</typeAliases>	
	
	
</configuration>
