<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">

	<resultMap id="noticeResultMap" type="Notice">
		<result property="noticeNo" column="NOTICE_NO" />
		<result property="noticeTitle" column="NOTICE_TITLE" />
		<result property="noticeContent" column="NOTICE_CONTENTS" />
		<result property="enrolldate" column="ENROLLDATE" />
	</resultMap>
	
	<select id="getNoticeList" resultType="Notice" resultMap="noticeResultMap">
		SELECT NOTICE_NO, NOTICE_TITLE, NOTICE_CONTENTS, ENROLLDATE FROM NOTICE
	</select> 
	
	<select id="AAA" resultType="String">
		SELECT * FROM NOTICE WHERE NOTICE_NO = '1'
	</select>
	
	
	<select id="getNoticeContent" parameterType="String" resultType="Notice">
		SELECT * FROM NOTICE WHERE NOTICE_NO = #{noticeNo}

	</select>
	<insert id="NoticeInsert" parameterType="Map">
		insert into H72.NOTICE values
		(SEQ_NOTICE_NO.NEXTVAL, #{insertNoticeTitle}, #{insertNoticeContent}, sysdate
		)
	</insert>
	<update id="NoticeUp" parameterType="Map">
		UPDATE NOTICE SET NOTICE_TITLE = #{upNoticeTitle}, 
		NOTICE_CONTENTS = #{upNoticeContent}
		WHERE NOTICE_NO = #{noticeNo}

	</update>
	<select id="updatenotice" parameterType="Map" resultType="Notice">
		SELECT * FROM NOTICE WHERE NOTICE_NO = #{noticeNo}

	</select>
	
	<delete id="deletenotice" parameterType="Map" >
		DELETE FROM NOTICE
		WHERE NOTICE_NO = #{noticeNo}
	
	</delete>

	<select id="getNoticeList2" resultType="Notice" parameterType="Map"  resultMap="noticeResultMap">
		SELECT *
		FROM( SELECT T1.*, ROWNUM AS RNUM, COUNT(*) OVER() AS TOTAL_CNT
              FROM( SELECT *
			        FROM NOTICE
			        ORDER BY ENROLLDATE
			         ) T1
			    )
		 WHERE RNUM BETWEEN ((#{page}-1) * #{count} + 1) AND ( ((#{page}-1) * #{count} + 1) + #{count} -1) 

  </select>
  
  	<select id="getNoticeCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM NOTICE
	</select>
	
</mapper>