<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderMapper">

	<select id="getCartOrder"  parameterType="String" resultType="Cart">
	SELECT C.CART_ID, C.ITEM_ID, C.USER_ID, C.ITEM_FULL_NAME, C.ITEM_DETAIL_ID, C.MAIN_IMG, C.QUANTITY, C.COST, C.MESSAGE, C.KIT_YN, C.ENROLL_DATE, A.ITEM_OPTION_NAME
	FROM CART C, ITEM_ALL_VIEW A
	WHERE C.ITEM_ID = A.ITEM_ID
	AND CART_ID = #{cartAll}
	</select>

</mapper>