<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productEnrollMapper">

	<select id="productProviderSelect" resultType="ProductProvider">
		SELECT *
		FROM  H72.PROVIDER
	</select>

	<select id="productEnrollCount" parameterType="String" resultType="int">
		SELECT COUNT(DISTINCT ITEM_DETAIL_ID) 
		FROM ITEM_DETAIL_VIEW
		WHERE CATEGORY_CODE LIKE #{categoryCode} || '%'
	</select>

	<insert id="productEnrollDetailInsert" parameterType="ProductEnroll" >
            <choose>
                <when test="categoryCode eq 'BAG'.toString()">
                   	insert into H72.ITEM_DETAIL_BAG VALUES
					(#{itemDetailId}, #{categoryCode}, #{itemStatus}, 
					#{itemName}, #{minPrice}, #{minSailPrice},
					#{mainImg}, #{detailImg01}, #{detailImg02} , #{etc}
					)
                </when>
                
                <when test="categoryCode eq 'PROTECT'.toString() ">
                   	insert into H72.ITEM_DETAIL_PROTECT VALUES
					(#{itemDetailId}, #{categoryCode}, #{itemStatus}, 
					#{itemName}, #{minPrice}, #{minSailPrice},
					#{mainImg}, #{detailImg01}, #{detailImg02}, #{etc}
					)
                </when>
                <when test="categoryCode eq 'FOOD'.toString() ">
                   	insert into H72.ITEM_DETAIL_FOOD VALUES
					(#{itemDetailId}, #{categoryCode}, #{itemStatus}, 
					#{itemName}, #{minPrice}, #{minSailPrice},
					#{mainImg}, #{detailImg01}, #{detailImg02}, #{etc}
					)
                </when>
             	<when test="categoryCode eq 'TOOL'.toString()">
                   	insert into H72.ITEM_DETAIL_TOOL VALUES
					(#{itemDetailId}, #{categoryCode}, #{itemStatus}, 
					#{itemName}, #{minPrice}, #{minSailPrice},
					#{mainImg}, #{detailImg01}, #{detailImg02}, #{etc}
					)
                </when>
                 <when test="categoryCode eq 'ETC'.toString()">
                   	insert into H72.ITEM_DETAIL_ETC VALUES
					(#{itemDetailId}, #{categoryCode}, #{itemStatus}, 
					#{itemName}, #{minPrice}, #{minSailPrice},
					#{mainImg}, #{detailImg01}, #{detailImg02}, #{etc}
					)
                </when>
                
                <otherwise>
                    
                </otherwise>
                
            </choose>
		
	</insert>
	
	<insert id="productEnrollInsert" parameterType="ProductItem">
		<choose>
                <when test="itemDetailId.substring(0,3) eq 'BAG'.toString()">
				INSERT INTO H72.ITEM_BAG VALUES
					(#{itemId}, #{providerCode}, 
					#{itemDetailId}, #{itemOptionName}, 
					#{cost}, #{price},
					#{sailPrice}, #{stock})
				</when>
                <when test="itemDetailId.substring(0,7) eq 'PROTECT'.toString()">
				INSERT INTO H72.ITEM_PROTECT VALUES
					(#{itemId}, #{providerCode}, 
					#{itemDetailId}, #{itemOptionName}, 
					#{cost}, #{price},
					#{sailPrice}, #{stock})
				</when>
                <when test="itemDetailId.substring(0,4) eq 'FOOD'.toString()">
				INSERT INTO H72.ITEM_FOOD VALUES
					(#{itemId}, #{providerCode}, 
					#{itemDetailId}, #{itemOptionName}, 
					#{cost}, #{price},
					#{sailPrice}, #{stock})
				</when>
                <when test="itemDetailId.substring(0,4) eq 'TOOL'.toString()">
				INSERT INTO H72.ITEM_TOOL VALUES
					(#{itemId}, #{providerCode}, 
					#{itemDetailId}, #{itemOptionName}, 
					#{cost}, #{price},
					#{sailPrice}, #{stock})
				</when>
                <when test="itemDetailId.substring(0,3) eq 'ETC'.toString()">
				INSERT INTO H72.ITEM_ETC VALUES
					(#{itemId}, #{providerCode}, 
					#{itemDetailId}, #{itemOptionName}, 
					#{cost}, #{price},
					#{sailPrice}, #{stock})
				</when>
				<otherwise>
                    
                </otherwise>
            </choose>
	</insert>
</mapper>
