<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaMapper">

	<resultMap id="qnaResultMap" type="QnA">

		<result property="qNo" column="Q_NO" />
		<result property="qTitle" column="Q_TITLE" />
		<result property="qContent" column="Q_CONTENTS" />
		<result property="qDate" column="Q_DATE" />
		<result property="qWriter" column="Q_WRITER" />
		<result property="answer" column="ANSWER_YN" />
		<result property="answerContent" column="A_CONTENTS" />
		<result property="aDate" column="A_DATE" />
		<result property="qCode" column="Q_CODE" />

	</resultMap>
 	<select id="getQnAList" resultType="QnA" resultMap="qnaResultMap">
		SELECT  Q_NO, Q_CODE, Q_WRITER, Q_TITLE, Q_CONTENTS, Q_DATE, ANSWER_YN, A_CONTENTS, A_DATE

	</select>

	<select id="getQnAContent" parameterType="String" resultType="QnA" resultMap="qnaResultMap">
		SELECT * FROM QNA WHERE Q_NO = #{qNo}
	</select>
    <insert id = "QnAInsert" parameterType="Map">
	insert into H72.QNA values
	(SEQ_Q_NO.NEXTVAL, null,null, #{insertqTitle},  #{insertqContent}, sysdate ,null,null,null
	)
	</insert>

	<select id="updateqna" parameterType="String" resultType="QnA" resultMap="qnaResultMap">
		SELECT * FROM QNA WHERE Q_NO = #{qNo}
	</select>
	
	 <update id="upqna" parameterType="Map" >
	UPDATE QNA SET ANSWER_YN = 'Y', 
	A_CONTENTS = #{answerContent} ,
	A_DATE = sysdate
	WHERE Q_NO = '${qNo}'

	</update>
	
	<delete id="deleteqna" parameterType="Map" >
		DELETE FROM QNA
		WHERE Q_NO = #{qNo}
		</delete>
		
	<select id="getQnAList2" resultType="QnA" parameterType="Map" resultMap="qnaResultMap">
		SELECT * 
		FROM( SELECT T1.*, ROWNUM AS RNUM, COUNT(*) OVER() AS TOTAL_CNT
              FROM( SELECT *
			        FROM QNA
			        ORDER BY Q_DATE
			         ) T1
			    )
		 WHERE RNUM BETWEEN ((#{page}-1) * #{count} + 1) AND ( ((#{page}-1) * #{count} + 1) + #{count} -1) 

  </select>
  
  
    	<select id="getQnACount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM QNA
	</select>
		
</mapper>