<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaMapper">

	<resultMap id="qnaResultMap" type="QnA">

		<result property="qNo" column="Q_NO" />
		<result property="qTitle" column="Q_TITLE" />
		<result property="qContent" column="Q_CONTENTS" />
		<result property="qDate" column="Q_DATE" />
		<result property="qWriter" column="Q_WRITER" />
		<result property="answer" column="ANSWER_YN" />
		<result property="answerContent" column="A_CONTENTS" />
		<result property="aDate" column="A_DATE" />
		<result property="qCode" column="Q_CODE" />

	</resultMap>
	<select id="getQnAList" resultType="QnA">
		SELECT * FROM QNA

	</select>

	<select id="getQnAContent" parameterType="String" resultType="QnA">
		SELECT * FROM QNA WHERE Q_NO = #{qNo}
	</select>
    <insert id = "QnAInsert" parameterType="Map">
	insert into H72.QNA values
	(SEQ_Q_NO.NEXTVAL, null,null, #{insertqTitle},  #{insertqContent}, sysdate ,null,null,null
	)
	</insert>
		<update id="QnAUp" parameterType="Map">
		UPDATE QNA SET QNA_TITLE = #{upqTitle}, 
		QNA_CONTENTS = #{upqContent}

	</update>
	
	<select id="updateqna" parameterType="Map" resultType="QnA">
		SELECT * FROM QNA WHERE Q_NO = #{qNo}

	</select>

</mapper>