<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="searchMapper">

	<resultMap id="searchResultMap" type="Search">
		<id property="itemDetailId" column="ITEM_DETAIL_ID" />
		<result property="categoryCode" column="CATEGORY_CODE" />
		<result property="itemStatus" column="ITEM_STATUS" />
		<result property="itemName" column="ITEM_NAME" />
		<result property="minPrice" column="MIN_PRICE" />
		<result property="minSailPrice" column="MIN_SAIL_PRICE" />
		<result property="mainImg" column="MAIN_IMG" />
		<result property="detailImg1" column="DETAIL_IMG01" />
		<result property="detailImg2" column="DETAIL_IMG02" />
		<result property="etc" column="ETC" />
	</resultMap>

	<select id="getBagList" parameterType="Search" resultType="Search">
		SELECT * FROM H72.ITEM_DETAIL_BAG
	</select>

	<select id="getProtectList" parameterType="Search" resultType="Search">
		SELECT * FROM H72.ITEM_DETAIL_PROTECT
	</select>

	<select id="getFoodList" parameterType="Search" resultType="Search">
		SELECT * FROM H72.ITEM_DETAIL_FOOD
	</select>

	<select id="getToolList" parameterType="Search" resultType="Search">
		SELECT * FROM H72.ITEM_DETAIL_TOOL
	</select>

	<select id="getEtcList" parameterType="Search" resultType="Search">
		SELECT * FROM H72.ITEM_DETAIL_ETC
	</select>

	<select id="getSearchList" parameterType="String" resultType="Search">
		SELECT * FROM ITEM_DETAIL_VIEW WHERE ITEM_NAME LIKE
		'%'||#{itemName}||'%'

	</select>


</mapper>
